addon/doc/*.css
addon/doc/en/
__pycache__/
*_docHandler.py
*.html
*.mo
*.pot
*.nvda-addon
.sconsign.dblite
*.conf
*.log
*.old
*.tmp
build/
logs/
tests/
tmp/
desktop.ini
/*.rar
/*.zip
test*
*.lnk
manifest.ini
buildVars.pyc
installTasks.pyc
installTasks.pyo
__init__.pyc
__init__.pyo
hmac.pyc
hmac.pyo
platform.pyc
platform.pyo
pybass.pyc
pybass.pyo
_common.pyc
_common.pyo
_factories.pyc
_factories.pyo
tz.pyc
tz.pyo
win.pyc
win.pyo
rebuild.pyc
rebuild.pyo
